body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fdfdfd;
}

header {
  background-color: #c4e1c1;
  color: #1b3b15;
  text-align: center;
  padding: 20px;
  position: relative;
}

.logo {
  width: 80px;
  position: absolute;
  top: 15px;
  left: 20px;
}

nav {
  background-color: #447a43;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.contenedor {
  display: flex;
  margin: 20px;
}

main {
  flex: 3;
  padding: 20px;
}

aside {
  flex: 1;
  background-color: #e4f2e2;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #447a43;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.imagen-principal {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
