body {
  font-family: Verdana, sans-serif;
  background-color: #fffef6;
  margin: 0;
}

header {
  background-color: #ffebc2;
  color: #5b3300;
  text-align: center;
  padding: 20px;
  position: relative;
}

.logo {
  width: 80px;
  position: absolute;
  top: 15px;
  left: 20px;
}

nav {
  background-color: #e6a94e;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.contenedor {
  display: flex;
  margin: 20px;
}

main {
  flex: 3;
  padding: 20px;
}

aside {
  flex: 1;
  background-color: #fff4dc;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #e6a94e;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.imagen-productos {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
